/* const Wrapper = styled.section`
padding: 9rem 0 5rem 0; */
#contact{
  margin: 25px;
  border: 1.9px solid rgb(82, 132, 217);
  border-radius: 50px;
}
#contact h2{
margin: 85px 0 -65px 0;
}
.map-con{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
iframe{
  margin-left: 20px;
    max-width: 50%;
    max-height: 500px;
    /* justify-content: ; */
    /* align-content: center; */
}

.c-container {
  /* width: 60%; */
  /* height: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  /* text-align: center; */
  /* margin: 25px; */
}
.contact-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  /* text-align: center; */
  margin: 15px;
  padding: 15px;
  border: solid rgb(83, 248, 12);
  width: 50%;
  border-radius: 15px 50px;
}
.phone-icon{
  margin: 0px 15px 0 0;
  font-size: 1.5rem;
  color: rgb(42, 60, 224);
}
.gmail-icon{
  margin: -4px 15px 0 0;
  font-size: 2rem;
  color: red;
}
.map-icon{
  margin-right: 25px;
  font-size: 3.5rem;
  color: rgb(14, 68, 205);
}
.contact-box h1{
  font-size: 2.5rem;
  color: blue;
}
.contact-box h3{
  display: flex;
    /* width: 100%; */
    margin: 8px;
    /* border: solid red; */
  }
  .contact-box h3:hover{
  color: red;
  text-decoration: underline;
  }
     @media screen and (max-width:950px) {
      #contact{
          border: none;
      }
      #contact h2{
        margin: 104px 0 0px 0;
        }
      .iframe{
        width: 80% !important;
        height: 300px;
      }
          .map-con{
            flex-direction: column;
          }
          .contact-box{
            flex-direction: column;
              width:80%;
          }
          .contact-box h3{
            width: 100%;
        }
      }


        @media screen and (max-width:750px) {
          
            .contact-box{
                width:90%;
            }
            .contact-box h3{
              width: 100%;
          }
        }