@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.home_con {
  width: 100%;
  height: 500%;
}
.home_con_img {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/lap_home.jpg");
}
.home-txt-con {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-text-1 {
  margin: 8rem 0 2.5rem 0;
  font-size: 3rem;
  padding: 5px;
  background: rgba(202, 200, 200, 0.519);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.704);
  border-radius: 3px;
  font-family: "Playfair Display", serif;
}
.home-text-2 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
.home-text-3 {
  margin: 25px;
}
.home-text-3 a {
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 8px 18px 8px 18px;
  color: #fff;
  background: #fe4066;
}
.home-text-3 a:hover {
  text-decoration: none;
  background: #dc395a;
}

@media screen and (max-width: 550px) {
  .home-text-1 {
    font-size: 2rem;
  }
  .home_main {
    height: 400px;
    overflow: hidden;
  }
  .home-text-2 {
    font-size: 1rem;
    margin: 5px;
  }
  .home-anime-btn a {
    border: #fff solid;
  }
}
